{% extends "base.html" %}
{% load static %}
{% load template_filters %}
{% block content %}

<!-- Calendario (Placeholder) -->
<img src="https://images.placeholders.dev/?width=800&height=600&text=Calendario&bgColor=%23f7f6f6&textColor=%236d6e71" alt="Placeholder Calendario">

<!-- Tarjetas segmentos
    Mostrar solo si el usuario está logeado
-->

{% if request.user.is_authenticated %}
<div class="row">
    {% for evento in eventos_proximos %}
    <div class="card col-4">
        <div class="card-body">
            <h3 class="card-title">{{ evento.fecha_inicio }}</h3>
            <h5 class="card-text">{{ evento.titulo }}</h5>
            <p class="card-text">{{ evento.descripcion }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- Filtros -->
<form method="get" name="filtros" class="mb-3">
    <div class="row">
        <div class="col-6"> <!-- Filtro de segmento del evento -->
            <select name="segmento" class="form-select w-50" onchange="document.filtros.submit()">
                <option value="" {% if request.GET.segmento == "" %}selected{% endif %}>Segmento</option>
                {% for segmento in segmentos %}
                <option value="{{ segmento.id }}" {% if segmento.id == segmento_actual %}selected{% endif %}>{{ segmento.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6"> <!-- Filtro de tipo de evento -->
            <select name="tipo" class="form-select w-50" onchange="this.form.submit()">
                <option value="" {% if request.GET.tipo == "" %}selected{% endif %}>Tipo</option>
                {% for tipo in tipos.items %}
                <option value="{{ tipo.0 }}" {% if tipo.0 == tipo_actual %}selected{% endif %}>{{ tipo.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>

<!-- Tabla de actividades -->
<div class="row">
    <div class="col-12" id="tableHead">
        <h2>Actividades</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <th scope="col-4">Hito</th>
            <th scope="col-2">Fecha Inicio</th>
            <th scope="col-2">Fecha Término</th>
            <th scope="col-2">Tipo</th>
            <th scope="col-2">Segmento</th>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.fecha_inicio }}</td>
                <td>{{ evento.fecha_termino }}</td>
                <td>{{ tipos|get_value:evento.tipo }}</td>
                <td>
                    {% for segmento in evento.segmento %}
                    {{ segmento.nombre }}, 
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    
</div>

{% endblock %}